html {
    background-image: url('assets/winter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    max-width: 1388px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
}

/* themes */

.dropdown {
    position: relative;
    left: 90%;
    bottom: 110px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100px;
  }
  
  .dropdown button:hover {
    background-color: #ddd;
}
  
  .show {
    display: block;
}

/* Home styles */

#home-theme {
    background-image: url("assets/black-background-04-coolbackgrounds.png");
    height: 768px;


}

/* header */

#logo {
    position: relative;
    top: 25px;
    width: 15.85%; /* 220 */ 
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#home-nav ul {
    display: block;
    position: relative;
    text-align: center;
    bottom: 40px;
    left: 7.2%;
}

#home-nav li {
    display: inline-block;
    padding: 0 5%;
    font-size: 28px;
}

#home-nav li a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

/* main */

#introducton {
    display: inline;
}

#introduction .content1 {
    float: left;
    margin-left: 2.16%;
    width: 21.61%; /* 300 */
    min-width: 200px;
    height: 480px;
    background-color: rgba(0,0,0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px;
    font-size: 26px;
    border: 1px solid white;
}

#introduction .content2 {
    float: left;
    background-image: url("assets/fabian-irsara-67l-QujB14w-unsplash.jpg");
    background-size: cover;
    width: 72%; /* 1000 */
    height: 570px;
    border: 1px solid white;
}

#text-project {
    position: relative;
    top: 450px;
    left: 68.8%;
    width: 30%; /* 300 */
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-align: center;

}


/* project style */

#project-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    height: 768px;
}

#project-nav ul {
    float: right;
     
}

#project-nav li {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#corner-radu {
    border-top-left-radius: 25px;
}

#project-nav a {
    color: black;
    text-decoration: none;
}

#proj-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#proj-contents div {
    width: 21.61%; /* 300 */
    min-width: 300px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#proj-contents img {
    width: 33%; /* 100 */
    border-radius: 50px;
    border: 1px solid black;
}

#proj-contents div p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    height: 250px;
    font-size: 20px;
}

#proj-contents div span {
    position: relative;
    bottom: 40px;
    width: 50%; /* 150 */
    background-color: black;
    padding: 15px;
}

#pr-button-left {
    border-radius: 25px 0 0 25px;
}

#pr-button-right {
    border-radius: 0 25px 25px 0;
}

.content a {
    color: white;
    text-decoration: none;
}

#first-sec h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
}


/* Contacts */

#contacts-theme {
    background-image: url("assets/contact.jpg");
    height: 768px;
    background-size: cover;
}

#contacts-nav ul {
    text-align: center;
    margin-left: 41%; /* 570 */
}

#contacts-nav li {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
}

#contacts-nav a {
    text-decoration: none;
    color: white;
}

#nav-button-left {
    border-radius: 20px 0 0 0;
}

#nav-button-right {
    border-radius: 0 0 20px 0;
}

/* main */

#contact-forms {
    margin-left: 17%; /* 235 */
    margin-bottom: -17px;
    width: 100%;
}

#contact-forms .content1 {
    float: left;
    width: 32.42%; /* 450 */
    min-width: 300px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 10px solid white;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 16px;
}

#contact-forms .content2 {
    width: 40%; /* 560 */
    min-width: 300px;
    height: 540px;
    text-align: center;
    float: left;
    
    color: white;
    font-size: 16px;
    padding-top: 100px;
}

#contact-forms input, textarea {
    width: 66.66%; /* 300 */ 
    padding: 10px;
    margin: 10px;
}

textarea {
    height: 130px;
}

#contact-forms .button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    width: 33%; /* 150 */
}

#social-medias {
    width: 44.64%; /* 250 */
    background-color: rgba(0, 0, 0, 0.804);
    text-align: center;
    border-radius: 25px;
    margin: 20px auto;
}

#social-medias img {
    width: 12%; /* 30 */
    margin: 10px;
}

#social-medias div {
    display: inline-block;
}


/* Projects Info */

#projectInfo-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    background-repeat: repeat-y;
}

.instrument {
    width: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.515);
    opacity: 0.9;
    padding: 2% 5%;
    margin: 5% auto;
    border-radius: 5px;
  }

  .instrument a {
    background-color: rgba(0, 0, 0, 0.806);
    padding: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .image {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    min-width: 100px;
    margin: 0 auto;
  }
  
  .details {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin: -1% auto;
    padding: 2%;
  }
  
  .name, .description {
    color: #000000;
    text-align: center;
  }
  
  .description, .price {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .description {
    height: 100%;
    font-size: 20px;
    overflow: auto;
  }

  .titles {
    float: left;
    margin-left: 70px;
  }

 main {
    padding-bottom: 20px;
  }

  #showcase h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 80px;
  }