html {
    background-image: url('assets/winter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}

body {
    max-width: 1388px;
    margin: 50px auto;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
}

/* Drop down menu */
.dropdownM {
    display: none;
}

.dropbtnM {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 75px;
}

.dropdown-contentM {
    display: none;
    position: relative;
    background-color: #00000087;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
    margin: auto;
    border: 1px solid white;
}

.dropdown-contentM a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentM a:hover {
    background-color: #f1f1f110;
}

.dropdownM:hover .dropdown-contentM {
    display: block;
}

.dropdownM:hover .dropbtnM {
    background-color: #2980b9;
}

/* Themes */
.dropdown {
    position: relative;
    left: 92.57%;
    bottom: 110px;
}

.dropbtn {
    background-color: #a06040d7;
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #A06040;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100px;
}

.dropdown button:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Home */
#home-theme {
    background-image: url("assets/black-background-04-coolbackgrounds.png");
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

/* Header */
.logo {
    position: relative;
    top: 25px;
    width: 15.85%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}

#home-nav ul {
    position: relative;
    text-align: center;
    bottom: 40px;
    left: 7.2%;
}

#home-nav li {
    display: inline;
    padding: 0 5%;
    font-size: 1.75rem;
}

#home-nav li a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

/* Main */
#introduction .content1 {
    display: inline-block;
    margin-left: 2.16%;
    width: 21.61%;
    min-width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1.44%;
    font-size: 1.62rem;
    border: 1px solid white;
}

#introduction .content2 {
    display: inline-block;
    vertical-align: top;
    background-image: url("assets/fabian-irsara-67l-QujB14w-unsplash.jpg");
    background-size: cover;
    width: 72%;
    height: 570px;
    border: 1px solid white;
}

#text-project {
    position: relative;
    top: 450px;
    left: 68.8%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

/* Project */
#project-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

#project-nav ul {
    float: right;
}

#project-nav li {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#corner-radu {
    border-top-left-radius: 25px;
}

#project-nav a {
    color: black;
    text-decoration: none;
}

/* Project Contents */
#proj-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#proj-contents div {
    width: 21.61%;
    min-width: 300px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#proj-contents img {
    width: 33%;
    border-radius: 50px;
    border: 1px solid black;
}

#proj-contents div p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    height: 250px;
    font-size: 1.25rem;
}

#proj-contents div span {
    position: relative;
    bottom: 40px;
    width: 50%;
    background-color: black;
    padding: 15px;
}

#pr-button-left {
    border-radius: 25px 0 0 25px;
}

#pr-button-right {
    border-radius: 0 25px 25px 0;
}

.content a {
    color: white;
    text-decoration: none;
}

#first-sec h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-top: 80px;
}

/* Contacts */
#contacts-theme {
    background-image: url("assets/contact.jpg");
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

#contacts-nav ul {
    display: block;
    margin-left: 41%;
    text-align: center;
}

#contacts-nav li {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
}

#contacts-nav a {
    text-decoration: none;
    color: white;
}

#nav-button-left {
    border-radius: 20px 0 0 0;
}

#nav-button-right {
    border-radius: 0 0 20px 0;
}

/* Form */
#contact-forms {
    margin-left: 17%;
    margin-bottom: -17px;
    width: 100%;
}

#contact-forms .content1 {
    display: inline-block;
    width: 32.42%;
    min-width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 10px solid white;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 1rem;
    min-width: 200px;
}

#contact-forms .content2 {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    text-align: center;
    color: white;
    font-size: 1rem;
    min-width: 200px;
}

#contact-forms input, textarea {
    width: 66.66%;
    padding: 10px;
    margin: 10px;
}

textarea {
    height: 10vh;
}

#contact-forms .button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    width: 33%;
}

#social-medias {
    width: 44.64%;
    background-color: rgba(0, 0, 0, 0.804);
    border-radius: 25px;
    margin: 20px auto;
}

#social-medias img {
    width: 12%;
    margin: 10px;
}

/* Projects Info */
#projectInfo-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    margin-top: -20px;
}

.instrument {
    width: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.515);
    opacity: 0.9;
    padding: 2% 5%;
    margin: 5% auto;
    border-radius: 5px;
}

.instrument a {
    background-color: rgba(0, 0, 0, 0.806);
    padding: 5px;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 5px;
}

.image {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    min-width: 100px;
    margin: 0 auto;
}

.details {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin: -1% auto;
    padding: 2%;
}

.name, .description {
    color: #000000;
    text-align: center;
}

.description, .price {
    margin-top: 0;
    margin-bottom: 16px;
}

.description {
    height: 100%;
    font-size: 20px;
    overflow: auto;
}

.titles {
    float: left;
    margin-left: 9.1%;
}

main {
    padding-bottom: 20px;
}

#showcase h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-top: 80px;
}

/* Media Queries */
@media screen and (max-width: 1150px) {
    /* Home */
    #introduction .content2, #introduction .content1 {
        width: 100%;
    }
    #introduction .content1 {
        margin: auto;
        font-size: 40px;
        padding: 5px;
    }
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    /* Selector in all pages */
    body {
        margin-top: 0px;
    }
    #contacts-nav {
        display: none;
    }
    .dropdownM {
        display: block;
        text-align: center;
        padding: 30px;
    }
    .contactL {
        display: none;
    }
    #contacts-theme {
        width: 100%;
        height: 1200px;
    }
    /* Contact */
    #contact-forms .content1 {
        width: 90%;
        margin-left: -120px;
        margin-top: 10px;
    }
    #contact-forms .content2 {
        width: 90%;
        margin-left: -110px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 650px) {
    /* Selectors in all pages */
    .logo {
        display: none;
    }
    #home-theme {
        margin-top: -100px;
    }
    /* Home */
    #home-nav ul {
        display: block;
        width: 100%;
        padding-top: 150px;
        margin-left: -90px;
    }
    #home-nav li {
        display: block;
        width: 100%;
        padding: 10px;
        color: black;
        background-color: rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid black;
    }
    #text-project {
        left: 10px;
    }
    #project-theme {
        margin-top: -80px;
    }
    #first-sec h2 {
        padding: 20px;
    }
}
