html {
    background-image: url('assets/winter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

body {
    width: 86.75rem;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
}

/* themes */

.theme {
    position: relative;
    left: 78rem; 
    bottom: 7.5rem; 
}

/* Home styles */

#home-theme {
    background-image: url("assets/black-background-04-coolbackgrounds.png");
    height: 48rem;
}

/* header */

#logo {
    position: relative;
    top: 1.56rem;
    width: 13.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 0.6rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#home-nav ul {
    display: block;
    position: relative;
    text-align: center;
    bottom: 2.5rem;
    left: 6.25rem;
}

#home-nav li {
    display: inline-block;
    padding: 0 4.37rem;
    font-size: 1.75rem;
}

#home-nav li a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

/* main */

#introducton {
    display: inline;
}

#introduction .content1 {
    float: left;
    margin-left: 1.87rem;
    width: 18.75rem;
    height: 30rem;
    background-color: rgba(0,0,0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1.25rem;
    font-size: 1.62rem;
    border: 1px solid white;
}

#introduction .content2 {
    float: left;
    background-image: url("assets/fabian-irsara-67l-QujB14w-unsplash.jpg");
    background-size: cover;
    width: 62.5rem;
    height: 35.62rem;
    border: 1px solid white;
}

#text-project {
    position: relative;
    top: 28.12rem;
    left: 43rem;
    width: 18.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    color: black;
    border: 1px solid black;
    padding: 0.3rem;
    text-align: center;

}


/* project style */

#project-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    height: 48rem;
}

#project-nav ul {
    float: right;
}

#project-nav li {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 10rem;
    padding: 0.3rem;
    height: 2.8rem;
    margin-top: 1.25rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#corner-radu {
    border-top-left-radius: 25px;
}

#project-nav a {
    color: black;
    text-decoration: none;
}

#proj-contents img {
    width: 6.25rem;
    border-radius: 3.12rem;
    border: 1px solid black;
}

#proj-contents {
    display: flex;
    justify-content: space-evenly;
    width: 86.75rem;
}

#proj-contents div {
    width: 18.75rem;
    color: white;
    text-align: center;
    position: relative;
    bottom: 3.12rem;
}

#proj-contents div p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.56rem;
    height: 15.62rem;
    font-size: 1.25rem;
}

#proj-contents div span {
    position: relative;
    bottom: 2.5rem;
    width: 9.3rem;
    background-color: black;
    padding: 0.93rem;
}

#pr-button-left {
    border-radius: 25px 0 0 25px;
}

#pr-button-right {
    border-radius: 0 25px 25px 0;
}

.content a {
    color: white;
    text-decoration: none;
}

#first-sec h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-top: 5rem;
}


/* Contacts */

#contacts-theme {
    background-image: url("assets/contact.jpg");
    height: 48rem;
    background-size: cover;
}

#contacts-nav ul {
    text-align: center;
    margin-left: 35.62rem;
}

#contacts-nav li {
    display: inline-block;
    width: 11.25rem;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.62rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
}

#contacts-nav a {
    text-decoration: none;
    color: white;
}

#nav-button-left {
    border-radius: 20px 0 0 0;
}

#nav-button-right {
    border-radius: 0 0 20px 0;
}

/* main */

#contact-forms {
    margin-left: 14.68rem;
    margin-bottom: -17px;
}

#contact-forms .content1 {
    float: left;
    width: 28.12rem;
    height: 31.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 0.62rem solid white;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
    padding-top: 3.12rem;
    font-size: 1rem;
}

#contact-forms .content2 {
    width: 35rem;
    height: 33.75rem;
    text-align: center;
    float: right;
    color: white;
    font-size: 1rem;
    padding-top: 6.25rem;
}

#contact-forms input, textarea {
    width: 18.75rem;
    padding: 0.62rem;
    margin: 0.62rem;
}

textarea {
    height: 8.12rem;
}

#contact-forms .button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.62rem;
    width: 9.3rem;
}

#social-medias {
    width: 15.62rem;
    background-color: rgba(0, 0, 0, 0.804);
    text-align: center;
    border-radius: 25px;
    margin: 1.25rem auto;
}

#social-medias img {
    width: 1.87rem;
    margin: 0.62rem;
}

#social-medias div {
    display: inline-block;
}


/* Projects Info */

#projectInfo-theme {
    background-image: url("assets/cool-website-background-021.jpg");
    background-repeat: repeat-y;
}

.instrument {
    width: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.515);
    opacity: 0.9;
    padding: 2% 5%;
    margin: 5% auto;
    border-radius: 5px;
  }

  .instrument a {
    background-color: rgba(0, 0, 0, 0.806);
    padding: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .image {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    min-width: 100px;
    margin: 0 auto;
  }
  
  .details {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin: -1% auto;
    padding: 2%;
  }
  
  .name, .description {
    color: #000000;
    text-align: center;
  }
  
  .description, .price {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .description {
    height: 100%;
    font-size: 20px;
    overflow: auto;
  }

  .titles {
    float: left;
    margin-left: 4.37rem;
  }

 main {
    padding-bottom: 1.25rem;
  }

  #showcase h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 5rem;
  }